<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MapPath" value="c:\Users\D046041\source\repos\GitProjects\SasaTxtGame\SasaTxtGame\GameMap.txt"/>
    <add key="Items" value="C:\Users\peter\Source\Repos\SasaTxtGame\SasaTxtGame\Items.json"/>
  </appSettings> 
</configuration>